<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Bruno Scatolin</mat-card-title>
        <mat-card-subtitle>Friend</mat-card-subtitle>
    </mat-card-header>
    <img class="img-bru" mat-card-image src="./assets/images/scatolin2.png" alt="Bruno Scatolin">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">Like</button>
        <button mat-button color="primary">Share</button>
    </mat-card-actions>
</mat-card>